
<%= kleur.white().bold('Schema Summary') %>
<%= kleur.bold('--------------') %>

<%= colors.highlight('[core metadata]') %>

  console.log(colors.highlight('[core metadata]'))
  console.log(corePropsPrintable.value())
  console.log()
  console.log(colors.highlight('[user metadata]'))
  console.log(userPropsPrintable.value())
  console.log('')
  console.log(colors.highlight('[fields]'))
  console.log(propsPrintable.value())
  console.log('')
